# Build files
/bin
/build/*
!/build/kvazaar_lib
/build/kvazaar_lib/*
!/build/kvazaar_lib/kvazaar_lib.vcxproj
!/build/kvazaar_lib/kvazaar_lib.vcxproj.filters
/scons_build_*

# Generated documentation
/doxygen_html
/doxygen

# Other files
*.exe
*.o
*.d

*.log
.kdev4
src/kvazaar
src/libkvazaar.so.*
src/kvazaar.dll
src/libkvazaar.dll.a
src/libkvazaar.*.dylib
